*,
html {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

.hidden {
  visibility: hidden;
  font-size: 1px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url(/images/bg-intro-desktop.png);
  background-color: hsl(0, 100%, 74%);
  font-size: 16px;
}

.main-container {
  display: flex;
  flex-direction: row;
  width: 90vw;
  height: 80vh;
  justify-content: space-around;
  align-items: center;
}

/*** Text ***/

.text-container {
  flex-basis: 38%;
  height: 35%;
  color: #fff;
}

h1 {
  font-size: 3rem;
  line-height: 3.2rem;
  padding-bottom: 1.5rem;
}

h2 {
  line-height: 1.6rem;
  font-size: 1rem;
  font-weight: 400;
}

/*** Form ***/

.form-container {
  display: flex;
  flex-direction: column;
  flex-basis: 42%;
  height: 90%;
}

h3 {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: hsl(248, 32%, 49%);
  border-radius: 0.6rem;
}

h3 > span {
  font-weight: 700;
}

form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0.6rem;
  padding: 2.5rem;
}

form,
h3 {
  box-shadow: 0 0.5rem rgba(0, 0, 0, 0.2);
}

input {
  padding: 0.8rem 1.8rem;
  font-weight: 600;
}

input:focus {
  border-color: hsl(246, 25%, 77%);
}

input,
button {
  margin-bottom: 1rem;
  border-style: solid;
  border-radius: 0.3rem;
}

button {
  text-transform: uppercase;
  font-size: 0.95rem;
  color: #fff;
  background-color: hsl(154, 59%, 51%);
  border: none;
  padding: 0.9rem;
  box-shadow: 0 0.2rem hsl(154, 50%, 47%);
}

button:hover {
  cursor: pointer;
}

form > p {
  text-align: center;
  font-size: 0.7rem;
  font-weight: 600;
  color: hsl(247, 6%, 73%);
}

a {
  font-weight: 700;
  text-decoration: none;
  color: hsl(0, 100%, 74%);
}
