*,
html {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  font-size: 16px;
}

.hidden {
  visibility: hidden;
  font-size: 1px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url(/images/bg-intro-desktop.png);
  background-color: hsl(0, 100%, 74%);
}

.main-container {
  display: flex;
  flex-direction: row;
  width: 90vw;
  height: 80vh;
  justify-content: space-around;
  align-items: center;
}

/*** Text ***/

.text-container {
  flex-basis: 38%;
  height: 35%;
  color: #fff;
}

h1 {
  font-size: 3rem;
  line-height: 3.2rem;
  padding-bottom: 1.5rem;
}

h2 {
  line-height: 1.6rem;
  font-size: 1rem;
  font-weight: 400;
}

/*** Form ***/

.form-container {
  display: flex;
  flex-direction: column;
  flex-basis: 42%;
  height: 90%;
}

h3 {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: hsl(248, 32%, 49%);
  border-radius: 0.6rem;
}

h3 > span {
  font-weight: 700;
}

form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0.6rem;
  padding: 2.5rem;
}

form,
h3 {
  box-shadow: 0 0.5rem rgba(0, 0, 0, 0.2);
}

input {
  padding: 0.8rem 1.8rem;
  font-weight: 600;
}

input:focus {
  border-color: hsl(246, 25%, 77%);
}

input,
button {
  margin-bottom: 1rem;
  border-style: solid;
  border-radius: 0.3rem;
}

button {
  text-transform: uppercase;
  font-size: 0.95rem;
  color: #fff;
  background-color: hsl(154, 59%, 51%);
  border: none;
  padding: 0.9rem;
  box-shadow: 0 0.3rem hsl(154, 50%, 47%);
}

button:hover {
  cursor: pointer;
}

form > p {
  text-align: center;
  font-size: 0.7rem;
  font-weight: 600;
  color: hsl(247, 6%, 73%);
}

a {
  font-weight: 700;
  text-decoration: none;
  color: hsl(0, 100%, 74%);
}

@media (max-width: 576px) {
  body {
    height: 100%;
    width: 100vw;
  }

  .main-container {
    flex-direction: column;
    height: 100%;
    width: 90%;
    text-align: center;
  }
  .text-container {
    height: 100%;
    width: 100%;
    margin: 4rem 0 3rem 0;
    flex-basis: auto;
  }
  h1 {
    font-size: 2rem;
    line-height: 2.7rem;
  }
  h2 {
    padding: 0 1.2rem;
    font-size: 1.1rem;
    line-height: 1.9rem;
  }
  .form-container {
    margin: 2rem 0;
    width: 100%;
  }
  h3 {
    padding: 1.5rem 4.5rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
  }
  h3 > span {
    font-size: 1.25rem;
  }
  form {
    padding: 1.7rem;
  }
  input {
    padding: 1.2rem 1.2rem;
    font-weight: 700;
  }

  button {
    font-size: 1.2rem;
    padding: 1rem 0.5rem;
  }

  form > p {
    padding: 0 1rem;
    line-height: 1.6rem;
  }

  form > p,
  a {
    font-size: 0.85rem;
  }
}
